---

title: "Home"
---


<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boun EduTech</title>
    <link rel="shortcut icon" href="https://github.com/Boun-EduTech/boun-edutech.github.io/blob/master/images/edutech.jpg?raw=true" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
				<a href="#">
				 <img class="header-logo-image" src="dist/images/logo.jpg" alt="Logo" style="width: 20%;">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">Welcome To BOUN EduTech </h1>
	                        <p class="hero-paragraph">We are Bogazici University CET student's club. Together we learn and make events.
                            </p>
	                        <div class="hero-cta"><a class="button button-primary" href="#metaverse">See our Metaverse</a><a class="button" href="mailto:bounedutech@gmail.com">Get in touch</a></div>
						</div>
						<div class="hero-figure anime-element">
							<svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
								<rect width="528" height="396" style="fill:transparent;" />
							</svg>
							<div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
							<div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
							<div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
							<div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
							<div class="hero-figure-box hero-figure-box-05"></div>
							<div class="hero-figure-box hero-figure-box-06"></div>
							<div class="hero-figure-box hero-figure-box-07"></div>
							<div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
							<div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
							<div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
						</div>
                    </div>
                </div>
            </section>

		
		         
            <section style="text-align: center; margin-top: 5%; height: 100%;width:100%;" >
                  <ul class="footer-social-links list-reset" style="font-size:30px;float:center;margin:0px;">
                        <li>
                            <a href="https://www.linkedin.com/company/edutechboun/" style="text-decoration: none;" target="_blank">
                                Linkedin
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bounedutech/?hl=tr" style="text-decoration: none;" target="_blank">
                                Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://medium.com/@bounedutech" style="text-decoration: none;" target="_blank">
                                Medium
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC_HuB4Qlta9VCZliRfT2VaQ" style="text-decoration: none;" target="_blank">
                                Youtube
                            </a>
                        </li>
                        <li>
                            <a href="https://bounedutech.itch.io/" style="text-decoration: none;" style="text-decoration: none;" target="_blank">
                                itch.io
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Boun-EduTech" style="text-decoration: none;" target="_blank">
                                Github
                            </a>
                        </li>
                    </ul>
            </section>
		
            <a name="metaverse"></a>
            <section style="text-align: center; margin-top: 5%; height: 100%;width:100%;" >
                <h1>🌐 BOUN EduTech Metaverse 🌐</h1>
                <iframe frameborder="0" src="https://itch.io/embed-upload/6441472?color=216cea" allowfullscreen="" width="960" height="670"><a href="https://alierenkayhan.itch.io/boun-edutech-metaverse">Play Boun EduTech Metaverse on itch.io</a></iframe>
            </section>
 

	
            <section style="text-align: center; margin-top: 5%;">
               <!-- container -->
                  <div class="container-fluid">

                      <!-- row -->
                      <div class="row">

                          <!-- col -->
                          <div class="col-lg-12">

                              <!-- section title -->
                              <div class="art-section-title" style="margin-bottom:-10px;" >
                                  <!-- title frame -->
                                  <div class="art-title-frame">
                                      <!-- title -->
                                      <h1>📚 Blogs 📚</h1>
                                  </div>
                                  <!-- title frame end -->
                              </div>
                              <!-- section title end -->

                          </div>
                          <!-- col end -->
                          <!-- col -->
                          <div class="col-lg-12" style="padding:0px;">
 
                                 {% if site.show_excerpts %}
                                 {% include home.html %}
                                 {% else %}
                                 {% include archive.html title="Posts" %}
                                 {% endif %}
                              
                              
                             
                          </div>
                          <!-- col end -->
                         

                      </div>
                      <!-- row end -->

                  </div>
                  <!-- container end -->

            </section>
  
		 
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
						<a href="#">
							<img class="header-logo-image" src="dist/images/logo.jpg" alt="Logo" style="width: 10%;">
						</a>
                    </div>
                     
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="https://www.linkedin.com/company/edutechboun/" target="_blank">
                                Linkedin
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bounedutech/?hl=tr" target="_blank">
                                Instagram
                            </a>
                        </li>
                        <li>
                            <a href="https://medium.com/@bounedutech" target="_blank">
                                Medium
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC_HuB4Qlta9VCZliRfT2VaQ" target="_blank">
                                Youtube
                            </a>
                        </li>
                        <li>
                            <a href="https://bounedutech.itch.io/" target="_blank">
                                itch.io
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Boun-EduTech" target="_blank">
                                Github
                            </a>
                        </li>
			<li>
                            <a href="https://calendar.google.com/calendar/u/0/embed?src=bounedutech@gmail.com&ctz=Europe/Istanbul" target="_blank">
                                Our Calender
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2020 BOUN EduTech, all rights reserved | Template author is Solid </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="dist/js/main.min.js"></script>
</body>
</html>

 <style>
          #onhover {
              display: none;
            }
            #surround:hover span[id="initial"] {
              display: none;
            }
            #surround:hover span[id="onhover"] {
              display: block;
            }
        * {
               cursor: url("https://github.com/Alierenkayhan/For-my-website/blob/main/itch%20io/image/cursor/cursor2.png?raw=true"), default;
          }
          
          body::-webkit-scrollbar {
             background-color: white;
             border-radius: 25px;
          }

          body::-webkit-scrollbar-thumb {
              background-image: linear-gradient(130deg, #5271FF, #53C4FF 100%);
              border-radius: 25px;
          }
    </style>
